*{
    margin: 0px;
}

.main{
    display: flex;
    padding: 50px;
    background-color:gainsboro;
    box-shadow: 0 4px 8px 0 rgba(219, 66, 66, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left{
    flex:0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
    background-color: white;
}
.profile_photo{

     padding: 20px;
}
.profile_photo>img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:250px;
    width: 200px;
}
.profile_info{

    padding: 20px;
}
.profile_info_1{
    font-weight: 200;
    margin-top: 10px;
    
    color: rgb(119, 118, 124);
}
.resume_button{
    padding: 20px;
}
.resume_button>button{
    background-color: rgb(33, 132, 247);
    color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    outline: none;
}
.resume_button>button:hover{
    background-color: rgb(13, 94, 216);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
  }
 .fa-linkedin{
     background-color: blue;
     color: white;
    
 }
 .fa-github{
     background-color: gray;
     color: black;
 }
.fa-twitter{
    background-color: rgb(38, 196, 248);
    color: white;
}
 .links{
    padding: 20px;

 }
.right{
    flex:0.7;
    border: 1px solid gainsboro;
    background-color:white;
    display: flex;
    flex-direction: column;
    overflow:visible;
    position: relative;
}
.skills{
    display: flex;

}