.section-title h2 {
	font-size: 5rem;

	color: black;
	-webkit-text-fill-color: lightgray; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: lightgray;
}
.section-title h3 {
	position: relative;
	top: -60px;
	left: 200px;
	font-family: sans-serif;
	font-size: 3rem;

	z-index: 12;
}
