.tech_content {
	display: flex;
	flex-wrap: wrap;
}
.tech_data {
	display: flex;
	margin: 10px;
	padding: 10px;
	align-items: center;
	justify-content: space-around;
	border: 1px solid lightgray;
	border-radius: 10px;
}

.tech_data img {
	width: 40px;
	height: 40px;
	margin-left: 2px;
}
.tech_data h3 {
	font-size: 1rem;
}
