.sidebar_links {
  margin-top: 3em;
  margin-left: -25px;
}
.sidebar_links ul {
  list-style-type: none;
}

.sidebar_links a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  display: block;
  margin: 5px;
}
.sidebar_links a:hover {
  border-bottom: 3px solid blue;
}

.sidebar_link_active {
  border-left: 2px solid blue;
}

.profile img {
  margin: 15px auto;
  display: block;
  width: 130px;
  height: 130px;
  border: 5px solid lightgray;
  border-radius: 50%;
}

.profile h1 {
  margin: 15px auto;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.socialmedia_links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.MuiSvgIcon-root {
  font-size: 2.5rem !important;

  border-radius: 50% !important;
  transition: 0.2s !important;
  color: gray !important;
}

.MuiSvgIcon-root:hover {
  font-size: 3rem !important;
  color: white !important;
}
